<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tarefas | Projeto 1</title>
    <link href="/public/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="tarefas">

        <form method="post">
            <input type="text" name="tarefa"/>
            <input type="submit" name="acao" value="inserir"/>
        </form>

        <% for (let i = 0; i < tarefasList.length; i++) { %>

            <li>
                <%= tarefasList[i] %>
                <a href="/deletar/<%= i %>">x</a>
            </li>
        
            
            
        <% } %>
    </div>
    
</body>
</html>

